.all_product{
    display: flex;
    justify-content: space-between;
}
.photo{
    width:400px;
    height:400px;
}
.product-title{
    align-items: center;
    justify-content: center;
    display: flex;
}