

.main{
    width:100%;
    background: silver;
    height: 100vh;
}

.first{

    width 100%;
    height: 150px;
}
.second{
    width:100%;
    background: blue;
    display: flex;
    justify-content: center;
}
.left{
    width:75%;
    height:100px;
    background: orange;
}
.right{
    width:25%;
    height:100px;
    background: brown;
}
@media screen and (max-width: 972px) {
    .first{ background:salmon}
    .second{display: block}
    .left{width:100%}
    .right{width:100%}
}
@media screen and (min-width: 972px) and (max-width: 2100px) {
    .first{ background: chartreuse}
}